/* Global */

TABLE {
    width: 100%;
    border: 0;
}

#RequestConsole_ElementEditor {
    width: 405px;
    height: 406px;
}

#RequestConsole_FilterElementEditor {
    width: 380px;
    height: 406px;
}

.ui-widget-content {
    padding: 0px !important;
}

.form-control{
    margin: 0px !important;
}

.ui-corner-all {
    padding: 2px !important;
}

.property-selector {
    width: 250px !important;
}

.form-control{
    width: 145px !important;
}

.form-control > INPUT {
    width: 145px !important;
} 

.ui-button  {
    height: 30px !important;
}


#RequestConsole_Button_ClearRequest {
    background-color: #d66;
    color: white;
    font-weight: bold;
}

#RequestConsole_Button_Send {
    background-color: #d55;
    border: 1px solid #d55;
    color: white;
    font-weight: bold;
}

#RequestConsole_Button_Send:hover {
    background-color: #e99797;
    border: 1px solid #e99797;
}


#RequestConsole_DsRestAPIHelp {
    float: right;
    font-size: 16px;
    
    background-color: #df8585;
    color: white;
}

#RequestConsole_DsRestAPIHelp:hover {
    background-color: #e99797;
}

#RequestConsole_ResponseDisplay {
    /* width:99%; */
    height:700px;
    border:0px solid #eee;
}

/* Main tabs and title */

#RequestConsole_Tabs {
    height: calc(100% - 30px);
}

#RequestConsole_SetupName label {
    font-size: 16px;
    /*font-weight: bold;*/
    display: inline-block;
}

#RequestConsole_GraphicalEditor {
    width: calc(63% - 2px);
    box-sizing: border-box;
}

#RequestConsole_CodeEditor {
    width: calc(37% - 2px);
    box-sizing: border-box;
}

#RequestConsole_GraphicalEditor,
#RequestConsole_CodeEditor {
    display: inline-block;
}

#RequestConsole_RequestEditorView {
    height: calc(100% - 50px);
}

#RequestConsole_GraphicalEditor {
    height: calc(100% - 0px);
    overflow:hidden;
}

#RequestConsole_RequestEditorSplit {
    height: calc(100% - 40px);
}

.splitter_panel .vsplitter {
    background-color: #ccc;
} 

#RequestConsole_CodeEditor{
    height: calc(100% - 0px);
    top: 0px;
    width: 40%;
}

/* Content editors */

.file-changed  {
    color: red !important;
}

/* Setup editor tab */

#RequestConsole_Tabs .Aligner .ui-resizable-handle {
    background-color: #aaa;
    width: 5px;
}

.RequestConsole_Helpside {
    width: 20%;
}

#RequestConsole_HelpTree {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}

#RequestConsole_RequestTree {
    width: 100%;
    padding-bottom: 100px;
    background-color: #e5e5e5;
}

#RequestConsole_Playground {
    width: 40%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: auto;
}

/* legend */

#RequestConsole_Legend {
    position: absolute;
    bottom: 0px;
    right: 16px;
    white-space: nowrap;
    background-color: #e5e5e5;
    opacity: 0.75;
    z-index: 10000;
    user-select: none;
    cursor: default;
}

#RequestConsole_LegendToggle {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #d66;
    border-top-left-radius: 100%;
}

#RequestConsole_LegendToggle:hover {
    background: #e99797;
}

#RequestConsole_Legend td:first-child {
    text-align: center;
}

.RequestConsole_LegendCategory {
    text-align: center;
    font-weight: bold;
}

/* Coloring and sorting trees */

li > a {
    box-sizing: border-box;
}

#RequestConsole_RequestTree li.RequestConsole_NodeWithData > a,
#RequestConsole_Legend .RequestConsole_NodeWithData {
    border-left: 2px solid #d5d5d5;
    border-right: 2px solid #d5d5d5;
    border-top: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
}

#RequestConsole_RequestTree ul > li.RequestConsole_NodeWithSelection > a,
#RequestConsole_Legend .RequestConsole_NodeWithSelection {
    border-left: 2px solid red;
}

#RequestConsole_RequestTree ul > li.RequestConsole_NodeWithFilter > a,
#RequestConsole_Legend .RequestConsole_NodeWithFilter {
    border-top: 2px solid #9c5ccc;
}

#RequestConsole_RequestTree ul > li.RequestConsole_NodeWithRangeFilter > a,
#RequestConsole_Legend .RequestConsole_NodeWithRangeFilter {
    border-bottom: 2px solid green;
}

#RequestConsole_RequestTree ul > li.RequestConsole_NodeWithWritableInfo > a,
#RequestConsole_Legend .RequestConsole_NodeWithWritableInfo {
    border-right: 2px solid blue;
}

#RequestConsole_SortButton {
    background-color: #c5c5c5;
    height: 23px !important;
    display: inline-block;
    vertical-align: top;
}

#RequestConsole_SortButton:hover {
    background-color: #999;
    color: white;
}

#RequestConsole_SortButton[aria-pressed="true"] {
    background-color: #4CAF50;
    color: white;
}

#RequestConsole_HelpSearch {
    width: calc(100% - 62px);
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

/* Setup editor's editors */

DIV.RequestConsole_EditorHeader {
    /*text-align: center;*/
    cursor: move;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 16px;
}

DIV.RequestConsole_HtmlEditor DIV.RequestConsole_EditorHeader,
.RequestConsole_HtmlEditorLegend {
    background-color: #9ccc5c;
}

DIV.RequestConsole_ImportEditor DIV.RequestConsole_EditorHeader,
.RequestConsole_ImportEditorLegend {
    background-color: #cc9c5c;
}

DIV.RequestConsole_FilterEditor DIV.RequestConsole_EditorHeader,
.RequestConsole_FilterEditorLegend {
    background-color: #9c5ccc;
}

label.RequestConsole_HtmlEditorHeaderLabel,
label.RequestConsole_FilterEditorHeaderLabel {
    cursor: move;
    height: 100%;
    display: inline-block;
    padding: 0px 4px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    font-size: 10px;
}

label.RequestConsole_HtmlEditorHeaderLabel {
	/* 3 buttons, 2 35px, 1 20px, + 3*2 * 1 px border for the buttons = 96px + 2px for good luck */
    width: calc(100% - 98px);
}

label.RequestConsole_ImportEditorHeaderLabel {
    width: calc(100% - 28px);
}

label.RequestConsole_FilterEditorHeaderLabel {
    /* 2 buttons, 1 35px, 2 20px, 2*2 * 1 px border for the buttons = 59px + 4px for good luck */
    width: calc(100% - 83px);
}

.RequestConsole_HtmlEditor,
.RequestConsole_FilterEditor {
    background-color: #eee;
    border: 1px solid #aaa;
    position: absolute;
    z-index: 800;
    font-size: 10px;
    width: auto;
    height: auto;
}

button.RequestConsole_EditorButtonLeft,
button.RequestConsole_EditorButtonRight {
    background-color: #d66;
    font-size: 10px;
    font-weight: bold;
    width: 35px;
    height: 100%;
    display: inline-block;
    color: #fff;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 0px;
}

button.RequestConsole_EditorButtonRight {
    width: 20px;
}

button:active.RequestConsole_EditorButtonLeft,
button:active.RequestConsole_EditorButtonRight {
    background-color: #f22;
}

button:hover.RequestConsole_EditorButtonLeft,
button:hover.RequestConsole_EditorButtonRight {
    background-color: #e44;
}

.RequestConsole_Buttonbar {
    margin: 0 0 5px 0;
    /*width: 100%;*/
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
}

.RequestConsole_Disabled {
    display: none;
}

.RequestConsole_Button_Left {
    background-color: #df8585;
    float: left;
    border: 2px solid #df8585;
    color: white;
    height: 20px;
}

.RequestConsole_Button_Spacer {
    width:5px;
    float: left;
    height: 23px;
}

.RequestConsole_Button_Right {
    float: right;
    background-color: #ccc;
    border: 2px solid #ccc;
    height: 23px;
}

.RequestConsole_Button_Left:hover {
    background-color: #e99797;
    border: 2px solid #e99797;
}
.RequestConsole_Button_Right:hover {
    background-color: #999;
    border: 2px solid #999;
    color: white;
}

.RequestConsole_Titles {
    font-weight: bold;
    font-size: 14px;
    background-color: #999;
    border: 3px solid #999;
    height: 23px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* 3rd party customization */

.dialog-table TD{
    font-size: 14pt;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.ui-dialog {
    white-space: nowrap;
    z-index: 10000 !important;
}

.ui-widget-overlay {
    z-index: 9900 !important;
}

.validateTips {
    white-space: normal;
}

.validateSearch {
    width: 60%;
}

.validateSearchButton, .validateSearchClear {
    width: 20%;
}

.vakata-context {
    z-index: 4000 !important;
}

#jstree-marker {
    z-index: 4000 !important;
}