<style id="FileSelector_WebAppStyle" type="text/css"></style>
<div class="FileSelector">
    <div class="FileSelector_TopBar">
        <button class="FileSelector_CreateDir">Create Directory</button>
        <button class="FileSelector_Back">Back</button>
        <button class="FileSelector_Forward">Forward</button>
        <button class="FileSelector_Home">Home</button>
        <div class="FileSelector_Bread"></div>
    </div>
    <div class="FileSelector_List">
        <ul></ul>
    </div>
    <div class="FileSelector_BottomBar">
        <label>Selection: </label>
        <textarea class="FileSelector_Selection"></textarea>
        <select class="FileSelector_Filters"></select>
    </div>
    <div class="FileSelector_ButtonBar">
        <button class="FileSelector_CancelButton">Cancel</button>
        <button class="FileSelector_OkButton">OK</button>
    </div>
</div>