.ElementTable,
.TableGray {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.ElementTable_HeaderBar,
.TableGray_HeaderBar {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    padding-left: 2px;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.ElementTable_HeaderBar {
    background-color: #55BAD4;
}

.TableGray_HeaderBar {
    background-color: #888888;
}

.ElementTable_HeaderBar > *,
.TableGray_HeaderBar > * {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

.ElementTable_Name,
.TableGray_Name {
    width: 50%;
    font-weight: bold;
}

.ElementTable_SearchLabel,
.TableGray_SearchLabel {
    width: 15%;
    text-align: right;
}

.ElementTable_SearchInput,
.TableGray_SearchInput {
    width: 35%;
}

.ElementTable_TableWrapper,
.TableGray_TableWrapper {
    overflow-y: auto;
}

.ElementTable table,
.TableGray table {
    width: 100%;
}

.ElementTable table tr.ElementTable_Selected {
    background-color: #66a19f;
}

.TableGray table tr.TableGray_Selected {
    background-color: #4CAF50;
    color: white;
}

.ElementTable table,
.TableGray table {
    border: none;
    border-collapse: collapse;
}

.ElementTable table tr.ElementTable_Header,
.TableGray table tr.TableGray_Header {
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
    /*font-size: 14px;*/
    text-align: left;
    padding: 2px;
}

.ElementTable table tr.ElementTable_Header {
    background-color: #66CBE5;
}

.TableGray table tr.TableGray_Header {
    background-color: #8D8D8D;
}

.ElementTable_Sort_No,
.ElementTable_Sort_Asc,
.ElementTable_Sort_Desc,
.TableGray_Sort_No,
.TableGray_Sort_Asc,
.TableGray_Sort_Desc {
    background-position: right center;
    background-repeat: no-repeat;
}
.ElementTable_Sort_Asc,
.TableGray_Sort_Asc {
    background-image: url("WebApplicationFramework/Res/sort_asc.png");
}
.ElementTable_Sort_Desc,
.TableGray_Sort_Desc {
    background-image: url("WebApplicationFramework/Res/sort_desc.png");
}
.ElementTable_Sort_No,
.TableGray_Sort_No {
    background-image: url("WebApplicationFramework/Res/sort_both.png");
}

.ElementTable td,
.ElementTable th,
.TableGray th,
.TableGray td {
    padding: 2px 2px;
}

.ElementTable tr:nth-child(odd) {
    background-color: #D4F0F8;
    color: black;
}

.ElementTable tr.ElementTable_Odd {
    background-color: #D4F0F8;
}

.ElementTable tr:nth-child(even) {
    background-color: #F2FBFD;
    color: black;
}

.ElementTable tr.ElementTable_Even {
    background-color: #F2FBFD;
}

.ElementTable tr:hover {
    background-color: #0066b3;
    color: white;
}

.TableGray tr:nth-child(odd) {
    color: black;
    background-color: #c5c5c5;
}

.TableGray tr.TableGray_Odd {
    background-color: #c5c5c5;
}

.TableGray tr:nth-child(even) {
    color: black;
    background-color: #c5c5c5;
}

.TableGray tr.TableGray_Even {
    background-color: #c5c5c5;
}

.TableGray tr:hover {
    background-color: #999;
    color: white;
}