.BasicComboBox {
    font-family: "Arial";
    vertical-align: middle;
    height: 100%;
    box-sizing: border-box;
}

.BasicComboBox > DIV {
    width: 0px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.BasicComboBox > SELECT {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}

.BasicComboBox > LABEL {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}