.ElementTable,
.TableBlue {
    font-weight: normal;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.ElementTable_HeaderBar,
.TableBlue_HeaderBar {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    padding-left: 2px;
    white-space: nowrap;
    /*border-bottom: 1px solid black;*/
}

.ElementTable_HeaderBar {
    background-color: #55BAD4;
}

.TableBlue_HeaderBar {
    background-color: #6494e9;
}

.ElementTable_HeaderBar > *,
.TableBlue_HeaderBar > * {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

.ElementTable_Name{
    width: 50%;
    font-weight: bold;
}

.TableBlue_Name {
    width: 50%;
    font-weight: bold;
}

.ElementTable_SearchLabel,
.TableBlue_SearchLabel {
    width: 15%;
    text-align: right;
}

.ElementTable_SearchInput,
.TableBlue_SearchInput {
    width: 35%;
}

.ElementTable_TableWrapper,
.TableBlue_TableWrapper {
    overflow-y: auto;
}

.ElementTable table,
.TableBlue table {
    width: 100%;
}

.ElementTable table tr.ElementTable_Selected {
    background-color: #66a19f;
}

.TableBlue table tr.TableBlue_Selected {
    background-color: #6494e9;
    color: white;
}

.ElementTable table,
.TableBlue table {
    border: none;
    border-collapse: collapse;
}

.ElementTable table tr.ElementTable_Header,
.TableBlue table tr.TableBlue_Header {
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
    /*font-size: 14px;*/
    text-align: left;
    padding: 2px;
}

.ElementTable table tr.ElementTable_Header {
    background-color: #66CBE5;
}

.TableBlue table tr.TableBlue_Header {
    background-color: #6494e9;
}

.ElementTable_Sort_No,
.ElementTable_Sort_Asc,
.ElementTable_Sort_Desc,
.TableBlue_Sort_No,
.TableBlue_Sort_Asc,
.TableBlue_Sort_Desc {
    background-position: right center;
    background-repeat: no-repeat;
}
.ElementTable_Sort_Asc,
.TableBlue_Sort_Asc {
    background-image: url("WebApplicationFramework/Res/sort_asc.png");
}
.ElementTable_Sort_Desc,
.TableBlue_Sort_Desc {
    background-image: url("WebApplicationFramework/Res/sort_desc.png");
}
.ElementTable_Sort_No,
.TableBlue_Sort_No {
    background-image: url("WebApplicationFramework/Res/sort_both.png");
}

.ElementTable td,
.ElementTable th,
.TableBlue th,
.TableBlue td {
    padding: 2px 2px;
    font-weight: normal;
}

.ElementTable tr:nth-child(odd) {
    background-color: #D4F0F8;
    color: black;
}

.ElementTable tr.ElementTable_Odd {
    background-color: #D4F0F8;
}

.ElementTable tr:nth-child(even) {
    background-color: #F2FBFD;
    color: black;
}

.ElementTable tr.ElementTable_Even {
    background-color: #F2FBFD;
}

.ElementTable tr:hover {
    background-color: #0066b3;
    color: white;
}

.TableBlue tr:nth-child(odd) {
    color: black;
    background-color: #c5c5c5;
}

.TableBlue tr.TableBlue_Odd {
    background-color: #c5c5c5;
}

.TableBlue tr:nth-child(even) {
    color: black;
    background-color: #c5c5c5;
}

.TableBlue tr.TableBlue_Even {
    background-color: #c5c5c5;
}

.TableBlue tr:hover {
    background-color: #6494e9;
    color: white;
}