.BasicSVGDisplay,
.HeaderSVGDisplay,
.StripedSVGDisplay {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 5px;
}

.StripedSVGDisplay {
    background: repeating-linear-gradient(144deg, #F1F1F1, #F1F1F1 5px, #E8E8E8 5px, #E8E8E8 10px);
    background: -moz-repeating-linear-gradient(144deg, #F1F1F1, #F1F1F1 5px, #E8E8E8 5px, #E8E8E8 10px);
}

.HeaderSVGDisplay {
    background-color: #bbbbbb;
    /*font-size: 12px;*/
}

.BasicSVGDisplay > DIV,
.StripedSVGDisplay > DIV {
    width: 0px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}