.TabsWithData {
    background-color: #f1f1f1;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.TabsWithData_Vertical_Tabs {
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align:top;
    background-color: #d5d5d5;
    border-right: 2px solid #f1f1f1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
}
.TabsWithData_Vertical_Ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.TabsWithData_Vertical_Li {
    display: block;
    color: #000;
    background-color: #c5c5c5;
    padding: 6px 0 6px 6px;
    text-decoration: none;
    cursor:pointer;
}
.TabsWithData_Vertical_Panel {
    display: inline-block;
    width: 90%;
    height: 100%;
    vertical-align:top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.TabsWithData_Horizontal_Tabs {
    display: block;
    width: 100%;
    background-color: #d5d5d5;
    border-bottom: 2px solid #f1f1f1;
    vertical-align:top;
    overflow: hidden;
    height: 25px;
    box-sizing: border-box;
}
.TabsWithData_Horizontal_Ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.TabsWithData_Horizontal_Li {
    float: left;
    display: inline-block;
    color: #000;
    background-color: #c5c5c5;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
    cursor:pointer;
}
.TabsWithData_Horizontal_Panel {
    display: block;
    width: 100%;
    height: calc(100% - 27px);
    vertical-align:top;
    box-sizing: border-box;
}

.TabsWithData_Horizontal_Li:hover,
.TabsWithData_Vertical_Li:hover {
    background-color: #999;
    color: white;
}

.TabsWithData_Selected {
    background-color: #4CAF50;
    color: white;
}