DIV.JSONEditor DIV.row {
    border: 1px solid #DDDDDD;
    padding: 2px;
    margin: 2px;
}

DIV.JSONEditor {
    width: 100%;
    height: 100%;
    border: 2px solid #aaa;
    background-color: #EEEEEE;
    box-sizing: border-box;
}

DIV.JSONEditor > DIV:last-child {
    overflow: auto;
    height: calc(100% - 20px);
}

.JSONEditor_Header {
    background-color: #888888;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 20px;
    width: 100%;
    position: relative;
    text-align: center;
}

.JSONEditor_Header > h3 {
    margin: auto auto;
    height: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
}

.JSONEditor_Header > button {
    display: block;
    position: absolute;
    top: 0;
    background-color: #d66;
    border: 2px solid #d66;
    font-weight: bold;
    height: 20px;
    color: white;
    padding: 0px;
}

.JSONEditor_Header > .JSONEditor_Save {
    width: 50px;
    left: 0;
}

.JSONEditor_Header > .JSONEditor_Close {
    width: 20px;
    right: 0;
}

.JSONEditor_Header > button:hover {
    background-color: red;
}

DIV.JSONEditor .tabs > .ui-state-active {
    background-color: #4CAF50;
    color: white;
}

DIV.JSONEditor .tabs > .ui-widget-header {
    background-color: #c5c5c5;
}

DIV.JSONEditor .tabs > .ui-widget-header:hover {
    background-color: #999;
    color: white;
}

DIV.JSONEditor .tabs {
    height: auto;
}