DIV {
    margin:0;
    padding:0;
}

.FileSelector_List {
    height: 250px;
    overflow: auto;
}

.FileSelector BUTTON {
    display: inline-block;
}

.FileSelector DIV.FileSelector_Bread {
    display: inline-block;
    background-color: #ddd;
    border: thin solid #777;
    padding: 2px;
}

.FileSelector DIV.FileSelector_TopBar {
    border-bottom:thin solid #777;
    padding: 2px;
    margin: 10px;
}

.FileSelector DIV.FileSelector_BottomBar,
.FileSelector DIV.FileSelector_ButtonBar {
    border-top: thin solid #777;
    padding: 2px;
    margin: 10px;
    height: 30px;
    box-sizing: border-box;
}

.FileSelector_BottomBar LABEL {
    display: inline-block;
    width: 70px;
    height: 20px;
    vertical-align: middle;
    box-sizing: border-box;
}

.FileSelector_Selection {
    display: inline-block;
    height: 20px;
    resize: none;
    width: calc(79% - 110px);
    spellcheck: false;
    vertical-align: middle;
    box-sizing: border-box;
}

.FileSelector_Filters {
    display: inline-block;
    height: 20px;
    width: 20%;
    vertical-align: middle;
    box-sizing: border-box;
}

.FileSelector_OkButton,
.FileSelector_CancelButton {
    display: inline-block;
    height: 20px;
    width: 40px;
    vertical-align: middle;
    box-sizing: border-box;
    float: right;
}

.FileSelector_CancelButton {
    width: 60px;
}

.FileSelector LI {
    list-style-type: none;
    padding-left: 20px;
    
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}

.FileSelector_Selected {
    background: #56F !important;
}

LI[filetype="-d"] {
    background: url("/WebApplicationFramework/Res/d.png") no-repeat;
}
LI[filetype="-f"] {
    background: url("/WebApplicationFramework/Res/f.png") no-repeat;
}
LI[filetype="ld"] {
    background: url("/WebApplicationFramework/Res/ld.png") no-repeat;
}
LI[filetype="lf"] {
    background: url("/WebApplicationFramework/Res/lf.png") no-repeat;
}

LI, LI SPAN {
    cursor: pointer;
}
LI SPAN.FileSelector_Name {
    font-family: Consolas, "Courier New", Courier, monospace;
}
LI SPAN.FileSelector_Size, LI SPAN.FileSelector_Time {
    font-size: 80%;
}
LI SPAN.FileSelector_Size:before {
    content: " [";
}
LI SPAN.FileSelector_Size:after {
    content: "B] ";
}
LI SPAN.FileSelector_Time:before {
    content: " @";
}
LI SPAN.FileSelector_Time:after {
    content: " ";
}
