.Aligner {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    vertical-align:top;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.Aligner_Vertical_Content {
    vertical-align:top;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.Aligner_Horizontal_Content {
    vertical-align:top;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.Aligner .ui-resizable-e {
    right: 0px;
}

.Aligner .ui-resizable-handle {
    width: 10px;
}